**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/select-from-where).**

---

# Introduction

Try writing some **SELECT** statements of your own to explore a large dataset of air pollution measurements.

Run the cell below to set up the feedback system.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex2 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

The code cell below fetches the `global_air_quality` table from the `openaq` dataset.  We also preview the first five rows of the table.

In [4]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=100).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)
...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.04380,2022-05-18 15:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
96,"Zielonka, Bory Tucholskie",Zielonka,PL,bc,0.00000,2022-05-19 14:00:00+00:00,µg/m³,GIOS,1.0,53.662136,17.933986,POINT(53.662136 1)
97,"Rzeszów, ul. Piłsudskiego",Rzeszów,PL,bc,0.72529,2022-05-05 04:00:00+00:00,µg/m³,GIOS,1.0,50.040675,22.004656,POINT(50.040675 1)
98,"Białystok, ul. Waszyngtona",Białystok,PL,bc,0.37000,2022-04-06 04:00:00+00:00,µg/m³,GIOS,1.0,53.126689,23.155869,POINT(53.126689 1)
99,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.37840,2022-05-24 04:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)

# Exercises

### 1) Units of measurement

Which countries have reported pollution levels in units of "ppm"?  In the code cell below, set `first_query` to an SQL query that pulls the appropriate entries from the `country` column.

In case it's useful to see an example query, here's some code from the tutorial:

```
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """
```

In [5]:
# Query to select countries with units of "ppm"
first_query = """ SELECT country 
                  FROM
                  `bigquery-public-data.openaq.global_air_quality`
                  WHERE 
                  unit= "ppm";
"""

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

# View top few rows of results
print(first_results.head())

# Check your answer
q_1.check()

  country
0      AR
1      AR
2      AR
3      AR
4      AR
You got the right countries. Nice job! Some countries showed up many times in the results. To get each country only once you can run `SELECT DISTINCT country ...`. The DISTINCT keyword ensures each column shows up once, which you'll want in some cases.

Correct

In [7]:
# Query to select countries with units of "ppm"
first_query = """ SELECT * 
                  FROM
                  `bigquery-public-data.openaq.global_air_quality`
                  WHERE 
                  unit= "ppm" LIMIT 10;
"""

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

# View top few rows of results
first_results.head()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,CORDOBA,Buenos Aires,AR,co,0.00,2022-05-01 15:00:00+00:00,ppm,Buenos Aires,8.0,-34.604417,-58.391650,POINT(-34.60441667 8)
1,CORDOBA,Buenos Aires,AR,co,0.00,2022-04-28 06:00:00+00:00,ppm,Buenos Aires,8.0,-34.604417,-58.391650,POINT(-34.60441667 8)
2,LA BOCA,Buenos Aires,AR,co,0.48,2022-04-28 07:00:00+00:00,ppm,Buenos Aires,8.0,-34.625270,-58.365550,POINT(-34.62527 8)
3,LA BOCA,Buenos Aires,AR,co,0.38,2022-05-24 05:00:00+00:00,ppm,Buenos Aires,8.0,-34.625270,-58.365550,POINT(-34.62527 8)
4,Erlin,彰化縣,TW,co,0.12,2021-05-17 04:00:00+00:00,ppm,Taiwan,1.0,23.925175,120.409653,POINT(23.925175 1)

For the solution, uncomment the line below.

In [3]:
q_1.solution()

Solution:
```python

first_query = """
              SELECT country
              FROM `bigquery-public-data.openaq.global_air_quality`
              WHERE unit = "ppm"
              """

# Or to get each country just once, you could use
first_query = """
              SELECT DISTINCT country
              FROM `bigquery-public-data.openaq.global_air_quality`
              WHERE unit = "ppm"
              """

```

### 2) High air quality

Which pollution levels were reported to be exactly 0?  
- Set `zero_pollution_query` to select **all columns** of the rows where the `value` column is 0.
- Set `zero_pollution_results` to a pandas DataFrame containing the query results.

In [11]:
# Query to select all columns where pollution levels are exactly 0
zero_pollution_query = """ SELECT * 
                           FROM `bigquery-public-data.openaq.global_air_quality`
                           WHERE 
                           value = 0
""" # Your code goes here

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(zero_pollution_query, job_config=safe_config)

# API request - run the query and return a pandas DataFrame
zero_pollution_results = query_job.to_dataframe() # Your code goes here

print(zero_pollution_results.head())

# Check your answer
q_2.check()

                       location          city country pollutant  value  \
0    Żary, ul. Szymanowskiego 8          Żary      PL        bc    0.0
1       Starachowice, ul. Złota  Starachowice      PL        bc    0.0
2    Żary, ul. Szymanowskiego 8          Żary      PL        bc    0.0
3  Koszalin, ul. Armii Krajowej      Koszalin      PL        bc    0.0
4       Starachowice, ul. Złota  Starachowice      PL        bc    0.0

                  timestamp   unit source_name  latitude  longitude  \
0 2022-05-18 15:00:00+00:00  µg/m³        GIOS       1.0  51.642656
1 2022-05-07 11:00:00+00:00  µg/m³        GIOS       1.0  51.050611
2 2022-05-04 16:00:00+00:00  µg/m³        GIOS       1.0  51.642656
3 2022-05-17 14:00:00+00:00  µg/m³        GIOS       1.0  54.193986
4 2022-05-15 14:00:00+00:00  µg/m³        GIOS       1.0  51.050611

   averaged_over_in_hours       location_geom
0               15.127808  POINT(51.642656 1)
1               21.084175  POINT(51.050611 1)
2               15.127808  POINT(51.642656 1)
3               16.172544  POINT(54.193986 1)
4               21.084175  POINT(51.050611 1)

Correct

For the solution, uncomment the line below.

In [9]:
#q_2.solution()

That query wasn't too complicated, and it got the data you want. But these **SELECT** queries don't organizing data in a way that answers the most interesting questions. For that, we'll need the **GROUP BY** command. 

If you know how to use [`groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) in pandas, this is similar. But BigQuery works quickly with far larger datasets.

Fortunately, that's next.

# Keep going
**[GROUP BY](https://www.kaggle.com/dansbecker/group-by-having-count)** clauses and their extensions give you the power to pull interesting statistics out of data, rather than receiving it in just its raw format.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*