**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/as-with).**

---

# Introduction

You are getting to the point where you can own an analysis from beginning to end. So you'll do more data exploration in this exercise than you've done before.  Before you get started, run the following set-up code as usual.

In [1]:
# Get most recent checking code
!pip install -U -t /kaggle/working/ git+https://github.com/Kaggle/learntools.git
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *
print("Setup Complete")

Collecting git+https://github.com/Kaggle/learntools.git
  Cloning https://github.com/Kaggle/learntools.git to /tmp/pip-req-build-ghuiky2d
  Running command git clone --filter=blob:none --quiet https://github.com/Kaggle/learntools.git /tmp/pip-req-build-ghuiky2d
  Resolved https://github.com/Kaggle/learntools.git to commit 7a83948d1820d0282e518fc44692bb3118c9e1a6
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: learntools
  Building wheel for learntools (setup.py) ... done
  Created wheel for learntools: filename=learntools-0.3.4-py3-none-any.whl size=268963 sha256=c94459059d6ed3298b15bf32b3a86f92f4e1dca0c5de6b4520c4a64aacbcd76a
  Stored in directory: /tmp/pip-ephem-wheel-cache-s43q57wj/wheels/2f/6c/3c/aa9f50cfb5a862157cb4c7a5b34881828cf45404698255dced
Successfully built learntools
Installing collected packages: learntools
Successfully installed learntools-0.3.4
Using Kaggle's public dataset BigQuery integration.
Setup Complete

You'll work with a dataset about taxi trips in the city of Chicago. Run the cell below to fetch the `chicago_taxi_trips` dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

You are curious how much slower traffic moves when traffic volume is high. This involves a few steps.

### 1) Find the data
Before you can access the data, you need to find the table name with the data.

*Hint*: Tab completion is helpful whenever you can't remember a command. Type `client.` and then hit the tab key. Don't forget the period before hitting tab.

In [3]:
# Your code here to find the table name
table_ref = dataset_ref.table('taxi_trips')
table = client.get_table(table_ref)
client.list_rows(table,max_results=10).to_dataframe()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,43af5556fd22a00c0059697733ef365e66e214cc,772c6c37c90e2e7c4cd717a268019102c6d17bdeb2932a...,2013-03-19 21:00:00+00:00,2013-03-19 21:00:00+00:00,300,0.5,NaN,NaN,3.0,3.0,...,0.0,4.84,Cash,None,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.965812,-87.655879,POINT (-87.6558787862 41.96581197)
1,f6f017b4f59708e45874395b9a2fbe8575187184,1158f25979ad78fd3dafc867a540ad761b65922c312e61...,2016-06-02 12:00:00+00:00,2016-06-02 12:15:00+00:00,660,1.7,NaN,NaN,NaN,NaN,...,0.0,8.50,Cash,None,NaN,NaN,None,NaN,NaN,None
2,d3c87d7a3e0a7d099a8385509b0286f34154e5db,1158f25979ad78fd3dafc867a540ad761b65922c312e61...,2016-06-02 12:30:00+00:00,2016-06-02 12:30:00+00:00,300,0.4,NaN,NaN,NaN,NaN,...,2.0,7.00,Cash,None,NaN,NaN,None,NaN,NaN,None
3,a7be7626b4612ae83fc6b9a960dc4e22241c569d,1897ed17bef32c8721aaeffd8239d3e1a49222c0eb602b...,2016-06-02 11:30:00+00:00,2016-06-02 12:00:00+00:00,1740,19.3,NaN,NaN,NaN,NaN,...,0.0,47.75,Cash,None,NaN,NaN,None,NaN,NaN,None
4,04c76f193d724986e0195a7eef2c1b087f624bc8,1a248eb87ae578f15af2a14c2eb7b4b264f6babab9ad9c...,2013-02-23 12:15:00+00:00,2013-02-23 12:15:00+00:00,0,3.7,NaN,NaN,NaN,NaN,...,1.0,14.45,Credit Card,None,NaN,NaN,None,NaN,NaN,None
5,fa6e7219ae4b8e48f060da1bb7dfcaadaded053c,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 13:30:00+00:00,2013-02-13 13:45:00+00:00,240,0.5,NaN,NaN,NaN,NaN,...,2.0,9.84,Credit Card,None,NaN,NaN,None,NaN,NaN,None
6,5d39590e088a2f9a93aaf76acfb7da37fcaa1f73,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 13:45:00+00:00,2013-02-13 14:00:00+00:00,300,0.9,NaN,NaN,NaN,NaN,...,0.0,7.45,Credit Card,None,NaN,NaN,None,NaN,NaN,None
7,8814c9f35c1a33c148ee6b3afacb772a23d2787f,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 14:15:00+00:00,2013-02-13 14:15:00+00:00,360,0.9,NaN,NaN,NaN,NaN,...,1.5,9.15,Credit Card,None,NaN,NaN,None,NaN,NaN,None
8,347b56d8d07fba0e6f9edbe4d1cb1e159d8e77cd,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 14:00:00+00:00,2013-02-13 14:15:00+00:00,780,1.4,NaN,NaN,NaN,NaN,...,1.0,9.44,Cash,None,NaN,NaN,None,NaN,NaN,None
9,405bc92dbd67adb6b58598d8098df752d6141a9e,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 16:00:00+00:00,2013-02-13 16:15:00+00:00,1440,7.2,NaN,NaN,NaN,NaN,...,0.0,22.05,Credit Card,None,NaN,NaN,None,NaN,NaN,None

In [4]:
# Write the table name as a string below
table_name = 'taxi_trips'

# Check your answer
q_1.check()

Correct

For the solution, uncomment the line below.

In [5]:
#q_1.solution()

### 2) Peek at the data

Use the next code cell to peek at the top few rows of the data. Inspect the data and see if any issues with data quality are immediately obvious.

In [6]:
table_ref = dataset_ref.table('taxi_trips')
table = client.get_table(table_ref)
client.list_rows(table,max_results=10).to_dataframe()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,43af5556fd22a00c0059697733ef365e66e214cc,772c6c37c90e2e7c4cd717a268019102c6d17bdeb2932a...,2013-03-19 21:00:00+00:00,2013-03-19 21:00:00+00:00,300,0.5,NaN,NaN,3.0,3.0,...,0.0,4.84,Cash,None,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.965812,-87.655879,POINT (-87.6558787862 41.96581197)
1,f6f017b4f59708e45874395b9a2fbe8575187184,1158f25979ad78fd3dafc867a540ad761b65922c312e61...,2016-06-02 12:00:00+00:00,2016-06-02 12:15:00+00:00,660,1.7,NaN,NaN,NaN,NaN,...,0.0,8.50,Cash,None,NaN,NaN,None,NaN,NaN,None
2,d3c87d7a3e0a7d099a8385509b0286f34154e5db,1158f25979ad78fd3dafc867a540ad761b65922c312e61...,2016-06-02 12:30:00+00:00,2016-06-02 12:30:00+00:00,300,0.4,NaN,NaN,NaN,NaN,...,2.0,7.00,Cash,None,NaN,NaN,None,NaN,NaN,None
3,a7be7626b4612ae83fc6b9a960dc4e22241c569d,1897ed17bef32c8721aaeffd8239d3e1a49222c0eb602b...,2016-06-02 11:30:00+00:00,2016-06-02 12:00:00+00:00,1740,19.3,NaN,NaN,NaN,NaN,...,0.0,47.75,Cash,None,NaN,NaN,None,NaN,NaN,None
4,04c76f193d724986e0195a7eef2c1b087f624bc8,1a248eb87ae578f15af2a14c2eb7b4b264f6babab9ad9c...,2013-02-23 12:15:00+00:00,2013-02-23 12:15:00+00:00,0,3.7,NaN,NaN,NaN,NaN,...,1.0,14.45,Credit Card,None,NaN,NaN,None,NaN,NaN,None
5,fa6e7219ae4b8e48f060da1bb7dfcaadaded053c,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 13:30:00+00:00,2013-02-13 13:45:00+00:00,240,0.5,NaN,NaN,NaN,NaN,...,2.0,9.84,Credit Card,None,NaN,NaN,None,NaN,NaN,None
6,5d39590e088a2f9a93aaf76acfb7da37fcaa1f73,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 13:45:00+00:00,2013-02-13 14:00:00+00:00,300,0.9,NaN,NaN,NaN,NaN,...,0.0,7.45,Credit Card,None,NaN,NaN,None,NaN,NaN,None
7,8814c9f35c1a33c148ee6b3afacb772a23d2787f,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 14:15:00+00:00,2013-02-13 14:15:00+00:00,360,0.9,NaN,NaN,NaN,NaN,...,1.5,9.15,Credit Card,None,NaN,NaN,None,NaN,NaN,None
8,347b56d8d07fba0e6f9edbe4d1cb1e159d8e77cd,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 14:00:00+00:00,2013-02-13 14:15:00+00:00,780,1.4,NaN,NaN,NaN,NaN,...,1.0,9.44,Cash,None,NaN,NaN,None,NaN,NaN,None
9,405bc92dbd67adb6b58598d8098df752d6141a9e,7a9c5c79f3e8300b7b106c5c5134357517a128617fb94f...,2013-02-13 16:00:00+00:00,2013-02-13 16:15:00+00:00,1440,7.2,NaN,NaN,NaN,NaN,...,0.0,22.05,Credit Card,None,NaN,NaN,None,NaN,NaN,None

After deciding whether you see any important issues, run the code cell below.

In [7]:
# Check your answer (Run this code cell to receive credit!)
q_2.solution()

Solution:
You can see the data by calling:
```python
# Construct a reference to the "taxi_trips" table
table_ref = dataset_ref.table("taxi_trips")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "taxi_trips" table
client.list_rows(table, max_results=5).to_dataframe()
```

Some location fields have values of `None` or `NaN`. That is a problem if we want to use those fields.

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).

In [12]:
# Your code goes here
rides_per_year_query = """SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year,COUNT(1) as num_trips
                          FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                          GROUP BY year
                          ORDER BY year DESC
"""

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query_job = client.query(rides_per_year_query,job_config=safe_config)# Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_year_result = rides_per_year_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_year_result)

# Check your answer
q_3.check()

    year  num_trips
0   2023    4896118
1   2022    6382071
2   2021    3947677
3   2020    3888831
4   2019   16476440
5   2018   20731105
6   2017   24979611
7   2016   31756403
8   2015   32385527
9   2014   37395079
10  2013   27217300

Correct

For a hint or the solution, uncomment the appropriate line below.

In [11]:
q_3.hint()
q_3.solution()

Hint: Start your query with `SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year, COUNT(1) AS num_trips`.

Solution:
```python

rides_per_year_query = """
                       SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year,
                              COUNT(1) AS num_trips
                       FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                       GROUP BY year
                       ORDER BY year
                       """

# Set up the query (cancel the query if it would use too much of
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query_job = client.query(rides_per_year_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
rides_per_year_result = rides_per_year_query_job.to_dataframe()

```

### 4) Dive slightly deeper

You'd like to take a closer look at rides from 2016.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2016.
2. Modify the query to extract the month rather than the year.

In [20]:
# Your code goes here
rides_per_month_query = """
                        SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month, 
                               COUNT(1) AS num_trips
                        FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                        WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2016
                        GROUP BY month
                        ORDER BY month
                        """

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
rides_per_month_result = rides_per_month_query_job.to_dataframe()

# Check your answer
q_4.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [13]:
#q_4.hint()
q_4.solution()

Solution:
```python

rides_per_month_query = """
                        SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month,
                               COUNT(1) AS num_trips
                        FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                        WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2016
                        GROUP BY month
                        ORDER BY month
                        """

# Set up the query (cancel the query if it would use too much of
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
rides_per_month_result = rides_per_month_query_job.to_dataframe()

```

### 5) Write the query

It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

Restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` > **2016-01-01** and < **2016-04-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

In [22]:
# Your code goes here
speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT EXTRACT(HOUR FROM trip_start_timestamp) as hour_of_day,
                   trip_miles,trip_seconds
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_start_timestamp > '2016-01-01' AND trip_start_timestamp <'2016-04-01'
                   AND trip_seconds > 0 AND trip_miles > 0
               )
               SELECT hour_of_day,COUNT(1) as num_trips,3600 * SUM(trip_miles) / SUM(trip_seconds) as avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query,job_config=safe_config) # Your code here

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe() # Your code here

# View results
print(speeds_result)

# Check your answer
q_5.check()

    hour_of_day  num_trips    avg_mph
0             0     203092  20.191744
1             1     178046  18.628598
2             2     143447  18.444370
3             3     108899  19.273107
4             4      80067  27.599669
5             5      75786  33.065604
6             6     102254  28.533112
7             7     187585  19.884592
8             8     284223  16.787900
9             9     306854  18.434124
10           10     279762  20.091309
11           11     294006  20.926340
12           12     311522  20.063901
13           13     317225  19.766321
14           14     312629  19.309655
15           15     319953  18.515564
16           16     349455  17.168814
17           17     394324  14.641375
18           18     431991  15.381995
19           19     416743  17.795008
20           20     356279  20.347398
21           21     318363  22.584731
22           22     289886  21.129847
23           23     241690  20.259757

Correct

For the solution, uncomment the appropriate line below.

In [21]:
q_5.solution()

Solution:
```python

speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day,
                          trip_miles,
                          trip_seconds
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_start_timestamp > '2016-01-01' AND
                         trip_start_timestamp < '2016-04-01' AND
                         trip_seconds > 0 AND
                         trip_miles > 0
               )
               SELECT hour_of_day,
                      COUNT(1) AS num_trips,
                      3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query (cancel the query if it would use too much of
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe()

# View results
print(speeds_result)

```

That's a hard query. If you made good progress towards the solution, congratulations!

# Keep going

You can write very complex queries now with a single data source. But nothing expands the horizons of SQL as much as the ability to combine or **JOIN** tables.

**[Click here](https://www.kaggle.com/dansbecker/joining-data)** to start the last lesson in the Intro to SQL course.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*